h1 {
    color: red;
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

nav a {
    background-color: violet;
    color: #fff;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 16px;
    
    
}
ol{
    text-align: center;
    padding: 50px;
}

ul {
    text-align: center;
}

div ,address {
    text-align: center;
}